# Laravel default ignores
/node_modules
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.cache
.phpunit.result.cache

# IDE and editor files
/.fleet/
/.idea/
/.vscode/
/.phpactor.json

# Environment files (selain .env)
Homestead.json
Homestead.yaml

# Logs
npm-debug.log
yarn-error.log
*.log

# Dependency directories
package-lock.json
yarn.lock

# System files
.DS_Store
Thumbs.db

# Heroku specific (jika ada)
.sass-cache/
*.sass.map
*.scss.map
